// ul,
// ol {
//   list-style-type: none;
//   margin: 0;
//   padding: 0;
// }

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}


dl {
  margin: 0;
}

dt {
  font-weight: 600;
  margin: 0;
}

dd {
  margin: 0;
}


.fa-ul {
  margin-left: $base-spacing;
}



/* ==============================
  Accordion
  ============================== */

.accordion {
  @include margin(0 0 $base-spacing 0);
  @include padding(0);
  background-color: lighten($light-gray, 10%);
  border: $base-border;
  li.accordion-item {
    border-bottom: $base-border;

    &:last-child {
      border: 0;
    }
  }

  ol > li {
    @include margin(0 0 $small-spacing);
  }

  .js-accordion-trigger {
    @include row(table);
    @include pad();
    &:hover {
      background-color: $snow;
    }

    .title {
      @include span-columns(11);
      @include pad();
      font-weight: $font-weight--medium;
    }
    .icon {
      @include span-columns(1);
      @include reset-display;
      @include pad();
      text-align: center;
    }
  }

  .accordion-body {
    @include padding(25px 20px);
    display: none;
    background-color: $snow;
    border-top: $base-border;
    box-shadow: inset 0 1px 1px darken($snow, 6%);;
    &:focus,
    &:hover {
      // background-color: $light-gray;
    }
  }

  .is-expanded {
    .js-accordion-trigger {
      background: $teal;
      color: $white;
      &:hover {
        background: $teal;
      }
    }
  }
}





// Custom Checkbox with Solid BG

#custom-checkbox {
  input[type="checkbox"] {
    display: none;
  }

  label {
    cursor: pointer;
    font-weight: $font-weight--regular;
    line-height: 36px;
  }

  input[type="checkbox"] + label:before {
    @include size(1em);
    @include padding(0);
    @include margin(null $base-spacing null null);
    display: inline-block;
    border: $base-border;
    content: "\00a0";
    vertical-align: middle;
  }

  input[type="checkbox"]:checked + label:before {
    background: $action-color;
    content: "\00a0";
    text-align: center;
  }

  input[type="checkbox"]:checked + label:after {
    // font-weight: bold;
  }
}



// Expander

.expander {
  width: 25em;

  .expander-trigger {
    display: block;

    &:before {
      @include margin(null $small-spacing null null);
      content: "\25BC";
    }
  }

  .expander-hidden {
    &:before {
      content: "\25BA";
    }
  }

  .expander-hidden + .expander-content {
    display: none;
  }
}



// Related Content List

.related-content-list {
  @include padding(25px 20px);
  > li {
    @include margin(null null 25px null);
    a {
      font-weight: $font-weight--medium;
    }
  }
}




// JobSource Feed, Most Popular

.job-source-feed {
  border: $base-border;
  background: $white;
  @include media($medium-up) {
    @include span-columns(8);
  }
  a.job-item {
    display: block;
    background-color: $white;
    border-bottom: $base-border;

    -ms-touch-action: manipulation;
    touch-action: manipulation;
    &:hover {
      background-color: $snow;
      .headline-standard {
        text-decoration: underline;
      }
    }
    .headline-standard {
      @include margin(10px null)
    }
    p {
      margin-bottom: 10px;
      line-height: 1;
    }
  }
  .job-footer {
    @include clearfix;
    @include size(100% 60px);
    line-height: 60px;

    .job-footer-link {
      float: left;
      margin-left: $base-spacing;
      display: inline;
      font-size: em(14px);
    }

    .arrow-nav {
      float: right;
      .arrow-nav-btn {
        @extend .btn;
        @include padding(0 20px);
        @include margin(0 0 0 1px);
        font-size: em(30);
        border: transparent;
        float: left;
        line-height: unset;
        border-radius: 0;
      }
    }
  }
}
